In [1]:
%pip install psycopg2-binary
%pip install python-dotenv

Requirement already satisfied: psycopg2-binary in /home/france/miniconda3/envs/py312/lib/python3.12/site-packages (2.9.11)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in /home/france/miniconda3/envs/py312/lib/python3.12/site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [3]:
import os
from dotenv import load_dotenv

# Load the .env file (make sure it's in the same directory as this notebook)
load_dotenv()
DATABASE_URL = os.getenv('DATABASE_URL')

# Fail fast if the database connection string wasn't loaded securely
if not DATABASE_URL:
    raise ValueError("DATABASE_URL not found in .env file!")

In [4]:
conn = psycopg2.connect(DATABASE_URL)

In [5]:
cur = conn.cursor()
cur.execute("SELECT version();")

In [6]:
cur.fetchone()

('PostgreSQL 17.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 14.2.1 20240912 (Red Hat 14.2.1-3), 64-bit',)

In [7]:
cur.execute("SELECT * FROM movies LIMIT 5;")
cur.fetchall()

[(1, 'Inception', 2010, 'Sci-Fi', 1, Decimal('8.8')),
 (2, 'Titanic', 1997, 'Romance', 4, Decimal('7.9')),
 (3, 'Pulp Fiction', 1994, 'Crime', 3, Decimal('8.9')),
 (4, 'The Dark Knight', 2008, 'Action', 1, Decimal('9.0')),
 (5, 'The Godfather', 1972, 'Crime', 5, Decimal('9.2'))]

In [8]:
# ensure any previous failed transaction is cleared
conn.rollback()

In [9]:
# select id, title from movies where release_year > 2000;
cur.execute("SELECT movie_id, title FROM movies WHERE release_year > 2000 limit 5;")
cur.fetchall()

[(1, 'Inception'),
 (4, 'The Dark Knight'),
 (7, 'The Lord of the Rings: The Return of the King'),
 (8, 'Interstellar'),
 (9, 'Parasite')]

In [10]:
# count
cur.execute("SELECT COUNT(*) FROM movies;")
cur.fetchone()

(20,)

In [11]:
# average rating
cur.execute("SELECT AVG(rating) FROM movies;")
cur.fetchone()

(Decimal('8.2950000000000000'),)

In [12]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM movies LIMIT 10;", conn)
df.head()

/tmp/ipykernel_72114/4012469788.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM movies LIMIT 10;", conn)

   movie_id            title  release_year    genre  director_id  rating
0         1        Inception          2010   Sci-Fi            1     8.8
1         2          Titanic          1997  Romance            4     7.9
2         3     Pulp Fiction          1994    Crime            3     8.9
3         4  The Dark Knight          2008   Action            1     9.0
4         5    The Godfather          1972    Crime            5     9.2